# Ignore .pyc and .pyo files
*.pyc
*.pyo
venv/

# Ignore all __pycache__ directories
__pycache__/

# Ignore the results folder
results/
results_direct/
new_results/
clean_results_free/
6tc_analysis_results/
clean_results/strongreject_results/
parallel_logs/
plot_outputs_model/

# Ignore .env
.env

# Ignore logs
logs/
*.log
*.md

# VS Code
.vscode/

# DS_Store
.DS_Store

# jupyter notebook checkpoints
.ipynb_checkpoints/

# Node modules and dist directories
interactive_analysis/node_modules/
interactive_analysis/dist/
