# Ignore .pyc and .pyo files
*.pyc
*.pyo
venv/

# Ignore all __pycache__ directories
__pycache__/

# Ignore the results folder
results/
results_direct/

# Ignore .env
.env

# Ignore logs
logs/

# VS Code
.vscode/

# DS_Store
.DS_Store

# jupyter notebook checkpoints
.ipynb_checkpoints/
